In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
emp_dataset = pd.read_csv('data.csv')
print(emp_dataset.info())

#divide the dataset into the ones that left the company and the one that didn't and compare 
div = emp_dataset.groupby('left_company')
div.mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 11 columns):
Emp ID                   14999 non-null int64
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
promotion_last_5years    14999 non-null int64
dept                     14999 non-null object
salary                   14999 non-null object
left_company             14999 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 1.3+ MB
None

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left_company,,,,,,,,
0,9285.5,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,1786.0,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

In [5]:
print(emp_dataset.describe())

             Emp ID  satisfaction_level  last_evaluation  number_project  \
count  14999.000000        14999.000000     14999.000000    14999.000000
mean    7500.000000            0.612834         0.716102        3.803054
std     4329.982679            0.248631         0.171169        1.232592
min        1.000000            0.090000         0.360000        2.000000
25%     3750.500000            0.440000         0.560000        3.000000
50%     7500.000000            0.640000         0.720000        4.000000
75%    11249.500000            0.820000         0.870000        5.000000
max    14999.000000            1.000000         1.000000        7.000000

       average_montly_hours  time_spend_company  Work_accident  \
count          14999.000000        14999.000000   14999.000000
mean             201.050337            3.498233       0.144610
std               49.943099            1.460136       0.351719
min               96.000000            2.000000       0.000000
25%              156.000000            3.000000       0.000000
50%              200.000000            3.000000       0.000000
75%              245.000000            4.000000       0.000000
max              310.000000           10.000000       1.000000

       promotion_last_5years  left_company
count           14999.000000  14999.000000
mean                0.021268      0.238083
std                 0.144281      0.425924
min                 0.000000      0.000000
25%                 0.000000      0.000000
50%                 0.000000      0.000000
75%                 0.000000      0.000000
max                 1.000000      1.000000